Package: com.phillipt.mathpass
Name: MathPass
Depends: mobilesubstrate
Version: 2.0
Architecture: iphoneos-arm
Description: Change your passcode to a simple math problem!
Depends: com.bd452.libpass
Maintainer: Phillip Tennen
Author: Phillip Tennen
Section: Tweaks
